// .vuepress/public/styles/index.styl
#vuepress-plugin-comment {
  max-width: 750px;
  margin: 0 auto;
}


#vuepress-plugin-comment .vheader input[name="link"] {
  display: none;
}

#vuepress-plugin-comment .vheader .vinput {
  width: 50%;
}